<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  {{!-- <link rel="stylesheet" href="../../public/styles/reset.css"> --}}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://bootswatch.com/4/minty/bootstrap.css">
  <link rel="shortcut icon" href="https://github.com/sahernandezr/Project-2/blob/sandra/public/images/favicon.png?raw=true"/>
  {{!-- <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8"> --}}
  <title>Organic Store</title>
</head>

<body>
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    Organic Store
  </a>
</nav>


  {{{body}}}


<footer>
  <p>The Footer goes here</p>
</footer>

<script src="/public/js/index.js"></script>
</body>

</html>