<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  {{!-- <link rel="stylesheet" href="../../public/styles/reset.css"> --}}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://bootswatch.com/4/minty/bootstrap.css">
  <link rel="shortcut icon"
    href="https://github.com/sahernandezr/Project-2/blob/sandra/public/images/favicon.png?raw=true" />
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <title>Organic Store</title>
</head>

<body>
  


  {{{body}}}


  <footer class="ftco-footer ftco-section bg-primary">
      <div class="container">
      	
        <div class="row">
          <div class="col-md-4">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-3 text-dark">Visit us</h2>
              <p class="text-dark">All the products you love in the same place and at a lower price! at our brick and mortar shop:</p>
              <a href="https://www.google.com/maps/place/Tec+de+Monterrey+Campus+Santa+Fe+(ITESM)/@19.3592502,-99.2609819,17z/data=!3m1!4b1!4m5!3m4!1s0x85d200c0fa04d82b:0x5e726f97d5cf3c8b!8m2!3d19.3592502!4d-99.2587932" target="blank_"><img src="https://github.com/sahernandezr/Project-2/blob/sandra/public/images/map.png?raw=true"></a>
            </div>
          </div>

          <div class="col-md-4">
             <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-3 text-dark">Help</h2>
              <div class="d-flex">
	              <ul class="list-unstyled mr-l-5 pr-l-3 mr-4">
	                <li><a href="#" class="py-2 d-block text-danger" ><i class="fas fa-shipping-fast"></i> Shipping Information</a></li>
	                <li><a href="#" class="py-2 d-block text-danger">Returns &amp; Exchange</a></li>
	                <li><a href="#" class="py-2 d-block text-danger">Terms &amp; Conditions</a></li>
	                <li><a href="#" class="py-2 d-block text-danger">Privacy Policy</a></li>
	              </ul>
	            </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="ftco-footer-widget mb-4">
            	<h2 class="ftco-heading-3 text-dark">Contact Us</h2>
            	<div class="block-23 mb-3">
	              <ul>
                  <li class="text-dark"><a href="https://github.com/daphnejf" target="_blank" class="py-2 d-block text-danger">Daphne Jiménez</a></li>
	                <li class="text-dark"><a href="https://github.com/FroylanPerez" target="_blank" class="py-2 d-block text-danger">Froylán Pérez</a></li>
	                <li class="text-dark"><a href="https://github.com/humberto24" target="_blank" class="py-2 d-block text-danger">Humberto Gómez</a></li> 
	                <li class="text-dark"><a href="https://github.com/sahernandezr" target="_blank" class="py-2 d-block text-danger">Sandra Hernández</a></li>
	              </ul>
	            </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center text-secondary">
            &copy; Copyright 2020
          </div>
        </div>
      </div>
    </footer>




  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <script src="/public/js/index.js"></script>
  <script src="https://kit.fontawesome.com/36bed53145.js"></script>
  <script>


    function myFunction() {
      var x = document.getElementById("loginbutton");
      x.innerHTML = "Welcome back!";

      var y = document.getElementById("myDIV");
      if (y.style.display === "none") {
        y.style.display = "block";
      } else {
        y.style.display = "none";
      }
    }


  </script>
</body>

</html>