<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  {{!-- <link rel="stylesheet" href="../../public/styles/reset.css"> --}}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://bootswatch.com/4/minty/bootstrap.css">
  <link rel="shortcut icon" href="https://github.com/sahernandezr/Project-2/blob/sandra/public/images/favicon.png?raw=true"/>
  {{!-- <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8"> --}}
  <title>Organic Store</title>
</head>

<body>
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">
    Organic Store
  </a>
</nav>


  {{{body}}}


<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>Footer goes here</p>
   </div>
</footer>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="/docs/4.4/assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
  <script src="/docs/4.4/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm"
    crossorigin="anonymous"></script>
<script src="/public/js/index.js"></script>
</body>

</html>