.list-group-item {
  line-height: 2.5;
}

.titles {
  margin: 20px 0px 20px 0px;
  text-align: center;
  font-weight: 700;
}

.title {
  margin: 10px 0px 0px 0px;
}

.prices {
  margin: 20px 0px 20px 0px;
  font-weight: 500;
  height: 50px;
}

.price {
  margin: 0px 0px 0px 0px;
}

.pricetwo {
  margin: 0px 0px 0px 140px;
}

.priceText{
  margin: 10px 0px 0px 0px;
}

.img{
  height: 100px;
}

footer {
  margin: 20px 0px 0px 0px;
  padding: 20px 20px;

}

.home {
  max-width: 90%;
  margin: auto auto;

}

#category {
  max-width: 90%;
  margin: auto auto;

}

#productspage {
  width: 90%;
  margin: auto auto;
}

.progress {
  margin: 20px 20px;
}

.categories {
  max-width: 80%;
  margin: auto auto;
}

#homeSubtitle {
  text-align: center;
}

#carouselExampleControls {
  margin: auto auto;
  padding: 20px 20px;
}

#categoryAd, #categoryAdHemp {
  width: 90%;
  margin: auto auto;
  padding: 20px 20px;
  text-align: center;
}

.jumbotron {
  width: 90%;
  margin: 0 auto;
  padding: 20px 20px;
  text-align: center;
  background: #FF7851 !important;
}

.productCard {
  margin: 10px;
  padding: 20px 20px;
  text-align: center;
}


#categoryListNames {
  margin: auto auto;
  padding: 20px 20px;
  text-align: center;
}